matplotlib==*
numpy==*
pillow==*
psutil==*
opencv-python==*
PyYAML==*
requests==*
scipy==*
thop==*
torchvision==*
torch==*
ultralytics==*
tqdm==*
pandas==*
seaborn==*
setuptools==*
filterpy==*
lap==*
scikit-image==*
cvzone==*
flask==*
easyocr==*
pytesseract==*
